body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.ex{
    border: 1px black solid;
}

.wrapper{
    width: calc(50%);
    height: 150vh;
    margin: auto;
    display: grid;
    grid-template-columns: 35% auto;
}
/*============================= SECTION 1       */
.sect1{
    background-color: #00172b;
    display: grid;
    grid-template-rows: 20% 20% auto auto;
    color: white;
    padding-left: 10px;
}

.pic{
    display: grid;
}

.pers-pict{
    width: 150px;
    height: 150px;
    margin: 2% auto;
    background-image: url(./01.JPG);
    background-size: cover;
    border-radius: 50%;
}

.pers-info{
    display: grid;
    grid-template-rows:auto;
    gap: 5px;
}

.skills{
    display: grid;
}
.title1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.per-inf{
    font-size: 1vw;
}



/*============================= SECTION 2       */

.sect2{
    display: grid;
    grid-template-rows: 10% auto 25%;
}
.sect2-items{
    margin-left: 5px;
}
.name-pers{
    font-size: calc(3vw);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wexp{
    display: grid;
}
.educ{
    display: grid;
}
/*========================  MEDIA Part  ==================================*/

@media only screen and (max-width: 1500px) {
    .wrapper{
        width: 70%;
        height: 120vh;
        margin: auto;
        display: grid;
        grid-template-columns: 35% auto;
    }
    .per-inf .skills-items{
        margin-left: 2px;
        font-size: 1.5vw;
    }
  }

@media only screen and (max-width: 1200px) {
    .wrapper{
        width: 65%;
        height: 100vh;
        margin: auto;
        display: grid;
        grid-template-columns: 35% auto;
    }
    .pers-pict{
        width: 120px;
        height: 120px;
    }
    .per-inf{
        font-size: 1.5vw;
    }

  }

@media only screen and (max-width: 1000px) {
    .wrapper{
        width: 80%;
        height: 100vh;
        margin: auto;
        display: grid;
        grid-template-columns: 35% auto;
    }
  }

  @media only screen and (max-width: 700px) {
    .wrapper{
        width: 90%;
        height: 95vh;
        margin: auto;
        display: grid;
        grid-template-columns: 35% auto;
    }
    .pers-pict{
        width: 120px;
        height: 120px;
    }
    .per-inf .skills-items{
        margin-left: 2px;
        font-size: 1vw;
    }
    .per-inf{
        font-size: 2vw;
    }
  }

  @media only screen and (max-width: 500px) {
    .wrapper{
        width: 95%;
        height: 90vh;
        margin: auto;
        display: grid;
        grid-template-columns: 35% auto;
    }
    .pers-pict{
        width: 100px;
        height: 100px;
    }
    .skills-items{
        margin-left: 2px;
        font-size: 0.2vw;
    }
  }
